body {
    background-color: rgb(233, 230, 53);
}


.body {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 200;
    font-variation-settings:
        "width" 100;
}

h1 {
    /* set the h1 to be blue color */
    color: blue;
}

h2 {
    color: red;
}

a {
    color: darkmagenta;
    text-decoration: none;
}